/tracks/software-development/   @josephat-onkoba
/tracks/web3-blockchain/        @abdul-abdi
/tracks/iot-robotics/           @khansamuel
/tracks/ml-data-science/        @wakoTheDev
/tracks/cybersecurity/          @johnie-musyoki @wandera-chris

/general-rules.md               @josephat-onkoba
/_config.yml                    @josephat-onkoba
/ORGANIZER_PLAYBOOK.md          @josephat-onkoba
